@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/RobotoSlab-VariableFont_wght.ttf') format('truetype');
}

body {
    font-family: 'Roboto Slab', sans-serif;
}